#html{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-right: 3px;
}
#CSS{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;

}
.html-css_title{
  text-align: center;
  margin: 40px;
  margin-top: 80px;

}
#html-css_title1 {
  color: green;
}
#html-css_title2 {
  color: black;
  font-size: xx-large;
  font-weight:bold;
}
.html-css_contents{
  margin: 20px;
}
.len {
  color: black;
  font-size:xx-large;
}

.c-red{
  color: rgb(210, 129, 144);
}
.c-blue{
  color: blue;
}
.explain {
  color: black;
}
.html-css_content{
  margin-bottom: 20px;
}
.key{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight:bold;

}
.check{
  color: green;
}
.keyword {
  color: rgb(210, 137, 150);
  /* text-align: left; */

}

.html-css_img{
  width: 10rem;
  height: 10rem;
  margin-right: 20px;
}

@media (max-width: 768px) {
  #html-css{
    background-color: rgb(247, 227, 227);
  }
  .html-css_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    margin-bottom: 80px;
  }
  .len {
    text-align: center;
  }
  .explain {
    text-align: center;
  }
}

@media (min-width: 769px) {
  #html-css{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(247, 227, 227);
  
  }
  .html-css_detail{
    display: flex;
    flex-direction: row;
    margin: 40px;
    margin-bottom: 80px;
  }
  .len {
    text-align: left;
  }
  .explain {
    text-align: left;
  }
}
