#about {
  background-color: rgb(247, 227, 227);
}
.about_title_1 {
  color: orange;
}
.about_title_2 {
  color: skyblue;
}
.about_title_3 {
  color: pink;
}
p {
  color: white;
}
@media (max-width: 768px) {
  .section {
    padding: 64px 16px;
    text-align: center;
  }

  .section__tag {
    font-size: var(--font-size-tag);
    color: var(--color-sub);
  }

  .section__header {
    margin-bottom: 50px;
  }
  .about_title_1 {
    font-size: x-large;
  }
  .about_title_2 {
    font-size: x-large;
  }
  .about_title_3 {
    font-size: x-large;
  }
  .section__title {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--color-text);
  }
  .about_card {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(50, 45, 72);
    height: 400px;
    width: 100%;
  }
  .about_icon {
    text-align: center;
    opacity: 0.5;
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 769px) {
  .about {
    padding: 50px 100px;
    display: flex;
    justify-content: space-evenly;
  }
  .about_card {
    margin: 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(50, 45, 72);
    height: 250px;
    width: 300px;
  }

  /* .about:hover {
      filter: blur(2px);
      transition: 0.3s ease-in-out;

      transform: scale(0.9);
    } */
  .about:hover .about_card:not(:hover) {
    transform: scale(0.9);
  }
  /* 흐림 필터링을 위한 덮개 */
  .about:hover .about_card:not(:hover)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
  .about_card:hover {
    transform: scale(1.04);
  }
  .about_card:hover .about_icon {
    opacity: 1;
  }
  /* .about_card:not(:hover) {
    filter: blur(2px);
    transition: 0.3s ease-in-out;

    transform: scale(0.9);
  }
  .about_card:hover {
    filter: blur(0px);
    transition: 0.3s ease-in-out;

    transform: scale(1.2);
  } */
  .about_icon {
    text-align: center;
    opacity: 0.5;
    height: 100px;
    width: 100px;
  }
  .section {
    padding: 64px 16px;
    text-align: center;
  }

  .section__tag {
    font-size: var(--font-size-tag);
    color: var(--color-sub);
  }

  .section__title {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--color-text);
  }
}
